* {
    margin: 0;
    padding: 0;
}

:root {
    --ff-body: 'Tahoma', 'Segoe UI', 'Lucida Console';
    --clr-black: #0a131d;
    --clr-purle: #6735D3;
    --clr-yellow: #e68c25;
    --clr-green: #0adf5c;
    --clr-gray:#0d2835;
    --clr-white:#c7e2d5;
    --combined-colors-1:linear-gradient(45deg, var(--clr-green) 15%,var(--clr-yellow));
    --combined-colors-2:linear-gradient(45deg, var(--clr-green) 35%,var(--clr-yellow)57.5%);
    --fs-header: 1.75rem;
    --fs-display: 1.25rem;
    --fs-body: 0.75rem;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 20rem;
    font-family: var(--ff-body);
    font-size: clamp(20px, 2vw, 32px);
}


body {
    display: flex;
    flex-direction: column;
    background: var(--clr-black);
}

header {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    padding-top: 100px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#display {
    background: var(--combined-colors-1);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--fs-header);
    margin-left: 1rem;
}


.btn {
    background: var(--combined-colors-1);
    border: none;
    width: 5rem;
    height: 50px;
    border-radius: 0.5rem;
    margin-right: 1rem;
    color: var(--clr-black);
    font-size: var(--fs-body);
}

.menu {
    position: absolute;
    right: 1rem;
    top: 90%;
    transition: transform .5s ease-in-out;
    transform: translateY(-200%);
    background: var(--clr-gray);
    padding: var(--fs-body);
    font-size: var(--fs-body);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.active {
    transform: translateY(0);
}

.menu-item {
    color: var(--clr-white);
    text-decoration: none;
    margin: 0.5rem 0;
    position: relative;
}

.menu-item::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--combined-colors-1);
    width: 100%;
    height: 0.125rem;
    transition: transform 0.25s ease-in-out;
    transform-origin: left;
    transform: scaleX(0);
}

.menu-item:hover::before {
    transform: scaleX(100%);
}

.display {
    font-size: var(--fs-display);
    z-index: 1;
    color: var(--clr-white);
}

.line {
    z-index: 1;
    width: 95%;
    height: 0.75%;
    background: var(--combined-colors-1);
}

.body {
    font-size: var(--fs-body);
    z-index: 1;
    color: var(--clr-white);
    text-align: center;
    margin: 0 5%;
}

#profile-card {
    width: clamp(325px, 30vw, 475px);
    height: 550px;
    background: var(--clr-gray);
    border-radius: 0.5rem;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    z-index: 1;
}

#my-image {
    margin-top: 1%;
    width: 33%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background: url(346127871_899630224436214_6342236349956509361_n.png) var(--clr-gray);
    background-position: 50% 30%;
    background-size: cover;
    position: relative;
}

#my-image::before, #my-image::after {
    content: "";
    width: 105%;
    height: 105%;
    border-radius: 50%;
    position: absolute;
    left: -2.5%;
    top: -2.5%;
    background: var(--combined-colors-2);
    z-index: -1;
    transition: transform .25s ease-in-out;
    transform: scale(1);
}

#my-image::after{
    filter: blur(0.25rem);
}

#profile-card:hover #my-image::before, #profile-card:hover #my-image::after {
     transform: scale(10);
}

#profile-card:hover .display, #profile-card:hover .body {
    animation: text_fade 0.25s ease-in-out forwards;
}

#profile-card:hover .line{
    animation: line_fade 0.25s ease-in-out forwards;
}

@keyframes text_fade {
    from {
        color: var(--clr-white);
    }
    to {
        color: var(--clr-black);
    }
}

@keyframes line_fade {
    from {
        background: var(--combined-colors-1);
    }
    to {
        background: var(--clr-black);
    }
}