* {
    margin: 0;
    padding: 0;
}

:root {
    --ff-body: 'Tahoma', 'Segoe UI', 'Lucida Console';
    --clr-black: #0a131d;
    --clr-purle: #6735D3;
    --clr-yellow: #FFC857;
    --clr-green: #0adf6a;
    --combined-colors:linear-gradient(45deg, var(--clr-green) 0%,var(--clr-yellow));
    --fs-header: 2rem;
    --fs-display: 1.25rem;
    --fs-body: 1rem;

}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 20rem;
    font-family: var(--ff-body);
    font-size: clamp(20px, 2vw, 32px);
}


body {
    display: flex;
    flex-direction: column;
    background: var(--clr-black);
}

header {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
}

header > * {
    margin: var(--fs-body);
}

.menu{
    
}

.display {
    background: var(--combined-colors);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: var(--fs-header);
}

